# Python cache and compiled files
__pycache__/
*.pyc

# Build and dist directories from pip/setuptools/conda
build/
dist/
*.egg-info/

# Old patterns
lib/pycache/*
pycache/*

# OS-specific
.DS_Store
Thumbs.db


# Flask stuff:
instance/
.webassets-cache