{% extends "base.html" %}
{% block title %}Home Page{% endblock%}
{% block content %}

<div class="container mt-5">
    <h2>{{ context | safe }}</h2>
    <button class="btn btn-secondary mb-3" onclick="toggleAllCollapses()">Toggle All Details</button>
    <!-- Search Form -->
    <form method="post" action="{{ url_for('kegg') }}" class="mb-4">
        <input type="hidden" name="bin_id" value="{{ request.values.get('bin_id', '') }}">
        <input type="hidden" name="ko_id" value="{{ request.values.get('ko_id', '') }}">
        <input type="hidden" name="taxon" value="{{ request.values.get('taxon', '') }}">
        <div class="input-group">
            <input type="text" name="search_query" class="form-control" placeholder="Search by pattern" value="{{ request.form.get('search_query', '') }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>KO ID</th>
                <th>KO Name</th>
                <th>Full Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for (ko_id, ko_name, ko_full_name), details in kegg_entries %}
            <tr>
                <td>{{ ko_id }}</td>
                <td>{{ ko_name }}</td>
                <td>{{ ko_full_name }}</td>
                <td>
                    <a href="{{ url_for('show_bins', kegg_id=ko_id) }}" class="btn btn-info">View Bins</a>
                    <a href="{{ url_for('show_maps', ko_id=ko_id) }}" class="btn btn-info">View Maps</a>
                    <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                        View Details
                    </button>
                    <a href="https://www.kegg.jp/entry/{{ ko_id }}" target="_blank" class="btn btn-warning">KEGG info</a>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="collapse" id="collapse{{ loop.index }}">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Bin Name</th>
                                    <th>GO-terms</th>
                                    <th>KO associated in the EggNOG annotation</th>
                                    <th>EggNOG Description</th>
                                </tr>

                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in details %}
                                <tr>
                                    <td>{{ detail[0] }}</td>
                                    <td>
                                        {% if detail[1] %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasGO{{ loop.index }}">More</button>
                                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasGO{{ loop.index }}">
                                                <div class="offcanvas-header">
                                                    <h5 class="offcanvas-title">GO Terms</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                </div>
                                                <div class="offcanvas-body">
                                                    {% for go in detail[1] %}
                                                        <div>{{ go }}</div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div style="max-height: 100px; overflow-y: auto;">
                                                {% for go in detail[1] %}
                                                    <div>{{ go }}</div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if detail[2] %}
                                            {% set kos = detail[2].split(',') %}
                                            {% for ko in kos %}
                                                <a href="{{ url_for('kegg', ko_id=ko.split(':')[1].strip()) }}" class="kegg-id">{{ ko.split(':')[1].strip() }}</a>{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            Not available
                                        {% endif %}
                                    </td>
                                    <td>{{ detail[3] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Bouton pour exporter l'état actuel -->
    <form action="{{ url_for('export_kegg') }}" method="post">
        <input type="hidden" name="map_number" value="{{ request.values.get('map_number', '') }}">
        <input type="hidden" name="bin_id" value="{{ request.values.get('bin_id', '') }}">
        <input type="hidden" name="taxon" value="{{ request.values.get('taxon', '') }}">
        <input type="hidden" name="search_query" value="{{ request.values.get('search_query', '') }}">
        <button type="submit" class="btn btn-secondary mb-3">Export Current State</button>
    </form>

</div>

{% endblock%}