{% extends "base.html" %}

{% block title %}Sample vs Sample Comparison{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Sample vs Sample Comparison</h2>

    <!-- Sélection des échantillons -->
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="sample1">Select Sample 1:</label>
            <select class="form-control" id="sample1" name="sample1">
                <option value="" selected>Select a sample</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="sample2">Select Sample 2:</label>
            <select class="form-control" id="sample2" name="sample2">
                <option value="" selected>Select a sample</option>
            </select>
        </div>
    </div>

    <!-- Section Heatmap -->
    <div class="mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center" >
                <strong>Heatmap</strong>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#heatmap-content" aria-expanded="false" aria-controls="heatmap-content">
                    Show/Hide
                </button>
            </div>
            <div class="collapse" id="heatmap-content">
            <div class="card-body">
                <!-- Menu des groupes de pathways -->
                <div id="pathway-group-menu">
                    <div class="card">
                        <div class="card-header">
                            <strong>Select pathway group</strong>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#pathway-options" aria-expanded="false" aria-controls="pathway-options" id="toggle-options">Show all options</button>
                        </div>
                        <div id="pathway-options" class="collapse">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        {% for group in pathway_groups %}
                                            {% if loop.index % 3 == 1 and not loop.first %}
                                                </div><div class="row mt-2">
                                            {% endif %}
                                            <div class="col-md-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="{{ group|replace(' ', '_') }}" value="{{ group }}">
                                                    <label class="form-check-label" for="{{ group|replace(' ', '_') }}">{{ group }}</label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <button class="btn btn-primary" id="apply-filter">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Légende pour la heatmap -->
                <div class="mt-3">
                    <div class="alert alert-info" role="alert">
                        <strong>Legend:</strong> The colour of the heatmap corresponds to the percentage of pathway completion.
                    </div>
                </div>

                <!-- Conteneurs pour les heatmaps -->
                <div class="row mt-4">
                    <div class="col-md-6" id="heatmaps-container1">
                        <!-- Les heatmaps pour Sample 1 seront insérées ici dynamiquement -->
                    </div>
                    <div class="col-md-6" id="heatmaps-container2">
                        <!-- Les heatmaps pour Sample 2 seront insérées ici dynamiquement -->
                    </div>
                </div>

                <div id="error" class="mt-4 text-danger"></div>
            </div>
            </div>
        </div>
    </div>

    <!-- Section Scatterplot -->
    <div class="mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Scatterplot</strong>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#scatter-content" aria-expanded="false" aria-controls="scatter-content">
                    Show/Hide
                </button>
            </div>
            <div class="collapse" id="scatter-content">
            <div class="card-body">
                <!-- Conteneur pour les scatter plots -->
                <div class="row">
                    <div class="col-md-6">
                        <div id="scatterplot-container1"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="scatterplot-container2"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Section PCA -->
    <div class="mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Bin PCA</strong>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#pca-content" aria-expanded="false" aria-controls="pca-content">
                    Show/Hide
                </button>
            </div>
            <div class="collapse" id="pca-content">
            <div class="card-body">
                <!-- Conteneur pour les PCA plots -->
                <div class="row">
                    <div class="col-md-6">
                        <div id="pca-container1" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="pca-container2" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Section Common Pathways -->
    <div class="mt-5">
        <div class="card">
            <div class="card-header">
                <strong>Common Pathways</strong>

            </div>
                <div class="card-body">
                        <div class="container mt-4">
                            <div class="card">
                                <div class="card-header">
                                    Full table
                                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#common-pathways-content" aria-expanded="true" aria-controls="common-pathways-content">Toggle Pathways Table</button>
                                </div>
                                <div id="common-pathways-content" class="collapse">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped" id="common-pathways-table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Pathway Name</th>
                                                        <th>Both</th>
                                                        <th id="sample1Header">Sample 1</th>
                                                        <th id="sample2Header">Sample 2</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Les données seront insérées ici dynamiquement -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="common-pathways-barplot" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section pour les futures fonctionnalités -->
    <div class="mt-5">
        <!-- Ajoutez ici d'autres sections à venir -->
    </div>
</div>

<!-- Include Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    // Fonction pour générer un ID valide pour un élément HTML
function generateValidId(str) {
    return str.replace(/[^a-zA-Z0-9]/g, '_');
}

// Fonction pour générer la liste des maps avec les noms des pathways en tant que liens
function generateMapList(mapDetails) {
    return Object.entries(mapDetails).map(([map, pathway]) =>
        `<p><a href="/map?search_query=${map}" target="_blank">${map}</a> - ${pathway}</p>`
    ).join('');
}

document.addEventListener('DOMContentLoaded', function() {
    var sample1Select = document.getElementById('sample1');
    var sample2Select = document.getElementById('sample2');
    var heatmapsContainer1 = document.getElementById('heatmaps-container1');
    var heatmapsContainer2 = document.getElementById('heatmaps-container2');
    var scatterplotContainer1 = document.getElementById('scatterplot-container1');
    var scatterplotContainer2 = document.getElementById('scatterplot-container2');
    var pcaContainer1 = document.getElementById('pca-container1');
    var pcaContainer2 = document.getElementById('pca-container2');
    var errorDiv = document.getElementById('error');
    var applyFilterBtn = document.getElementById('apply-filter');
    var toggleOptionsBtn = document.getElementById('toggle-options');
    var pathwayOptionsDiv = document.getElementById('pathway-options');

    // Récupère la liste des échantillons pour remplir les dropdowns
    fetch("{{ url_for('get_samples') }}")
        .then(response => response.json())
        .then(data => {
            data.samples.forEach(sample => {
                var option1 = document.createElement('option');
                option1.value = sample;
                option1.text = sample;
                sample1Select.add(option1);

                var option2 = document.createElement('option');
                option2.value = sample;
                option2.text = sample;
                sample2Select.add(option2);
            });
        });

    // Fonction pour récupérer les données des heatmaps et les afficher
    function fetchHeatmapData(sample, container, sampleNumber, selectedGroups) {
        var formData = new FormData();
        formData.append('sample', sample);
        formData.append('groups', JSON.stringify(selectedGroups));

        fetch("{{ url_for('get_heatmap_data') }}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(`Data for sample ${sampleNumber}:`, data);  // Log de débogage
            if (data.error) {
                errorDiv.innerHTML = data.error;
                return;
            }

            Object.keys(data.heatmaps_data).forEach(group => {
                var validGroup = generateValidId(group);
                var divId = `heatmap${sampleNumber}_${validGroup}`;
                var plotDiv = document.createElement('div');
                plotDiv.id = divId;
                plotDiv.className = 'heatmap';
                container.appendChild(plotDiv);

                var binNames = data.heatmaps_data[group].x.map(binName => {
                    return /^\d+$/.test(binName) ? `bin_${binName}` : binName;
                });

                var plotData = [{
                    z: data.heatmaps_data[group].z,
                    x: binNames,
                    y: data.heatmaps_data[group].y,
                    type: 'heatmap',
                    hoverongaps: false
                }];

                var layout = {
                    title: `${data.context}<br>${group}`,
                    xaxis: {
                        title: 'Bins',
                        tickangle: 45,  // Rotation des labels de l'axe x
                        automargin: true  // Ajustement des marges pour éviter que les labels soient coupés
                    },
                    yaxis: {
                        automargin: true  // Ajustement des marges pour éviter que les labels soient coupés
                    }
                };

                Plotly.newPlot(divId, plotData, layout);

                // Création d'un conteneur pour centrer le bouton
                var btnContainer = document.createElement('div');
                btnContainer.className = 'd-flex justify-content-center mt-2';
                container.appendChild(btnContainer);

                // Ajout du bouton "Map Details" au conteneur centré
                var btn = document.createElement('button');
                btn.className = 'btn btn-info';
                btn.setAttribute('data-bs-toggle', 'offcanvas');
                btn.setAttribute('data-bs-target', `#offcanvasDetails${sampleNumber}_${validGroup}`);
                btn.innerText = 'Map Details';
                btn.addEventListener('click', function() {
                    fetchMapDetails(data.heatmaps_data[group].y, `offcanvasDetails${sampleNumber}_${validGroup}`);
                });
                btnContainer.appendChild(btn);

                // Ajout de l'offcanvas pour les détails des maps
                var offcanvas = document.createElement('div');
                offcanvas.id = `offcanvasDetails${sampleNumber}_${validGroup}`;
                offcanvas.className = 'offcanvas offcanvas-end';
                offcanvas.setAttribute('tabindex', '-1');
                offcanvas.innerHTML = `<div class="offcanvas-header">
                    <h5 class="offcanvas-title">${group}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    Loading...
                </div>`;
                document.body.appendChild(offcanvas);
            });
        });
    }

    // Fonction pour récupérer les détails des maps et les afficher dans l'offcanvas
    function fetchMapDetails(mapNumbers, offcanvasId) {
        fetch("{{ url_for('get_map_details') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ map_numbers: mapNumbers })
        })
        .then(response => response.json())
        .then(data => {
            var offcanvasBody = document.querySelector(`#${offcanvasId} .offcanvas-body`);
            if (data.error) {
                offcanvasBody.innerHTML = data.error;
            } else {
                console.log('Map details:', data.map_details);  // Log de débogage
                offcanvasBody.innerHTML = generateMapList(data.map_details);
            }
        })
        .catch(error => {
            console.error('Error fetching map details:', error);
            var offcanvasBody = document.querySelector(`#${offcanvasId} .offcanvas-body`);
            offcanvasBody.innerHTML = 'Failed to load map details.';
        });
    }

    // Fonction pour récupérer les données des scatter plots et les afficher
    function fetchScatterplotData(sample, container) {
        var formData = new FormData();
        formData.append('sample', sample);

        fetch("{{ url_for('get_scatterplot_data') }}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(`Scatterplot data for sample:`, data);  // Log de débogage
            if (data.error) {
                errorDiv.innerHTML = data.error;
                return;
            }

            var traceInFilter = {
                x: data.inFilter.x,
                y: data.inFilter.y,
                mode: 'markers',
                type: 'scatter',
                text: data.inFilter.text,
                marker: { size: 12, color: '#1BC7C7' },
                name: 'Bins meeting GTDB filter'
            };

            var traceOutFilter = {
                x: data.outFilter.x,
                y: data.outFilter.y,
                mode: 'markers',
                type: 'scatter',
                text: data.outFilter.text,
                marker: { size: 12, color: '#F55B18' },
                name: 'Bins not meeting GTDB filter'
            };

            var layout = {
                title: `Completeness vs. Contamination for ${sample}`,
                xaxis: { title: 'Completeness (%)' },
                yaxis: { title: 'Contamination (%)' },
                showlegend: true,
                legend: {
                    orientation: 'h',  // Horizontal orientation
                    y: -0.3,  // Position below the plot
                    x: 0.5,  // Centered horizontally
                    xanchor: 'center',  // Anchor the legend to the center
                    yanchor: 'top'  // Anchor the legend to the top
                }
            };

            Plotly.newPlot(container, [traceInFilter, traceOutFilter], layout);
        });
    }

    // Fonction pour récupérer et afficher les données des pathways communs
    function fetchCommonPathwaysData(sample1, sample2, sample1Name, sample2Name) {
        var formData = new FormData();
        formData.append('sample1', sample1);
        formData.append('sample2', sample2);

        fetch("{{ url_for('get_common_pathways_data') }}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(`Common Pathways data:`, data);  // Log de débogage
            if (data.error) {
                errorDiv.innerHTML = data.error;
                return;
            }

            var tableBody = document.getElementById('common-pathways-table').getElementsByTagName('tbody')[0];
            tableBody.innerHTML = '';  // Clear previous data

            var pathwayNames = [];
            var sample1Counts = [];
            var sample2Counts = [];

            data.forEach(row => {
                var tr = document.createElement('tr');
                var tdPathway = document.createElement('td');
                tdPathway.textContent = row.pathway_name;
                tr.appendChild(tdPathway);

                var tdBoth = document.createElement('td');
                tdBoth.textContent = row.both;
                tr.appendChild(tdBoth);

                var tdSample1 = document.createElement('td');
                tdSample1.textContent = row.sample1;
                tr.appendChild(tdSample1);

                var tdSample2 = document.createElement('td');
                tdSample2.textContent = row.sample2;
                tr.appendChild(tdSample2);

                tableBody.appendChild(tr);

                pathwayNames.push(row.pathway_name);
                sample1Counts.push(row.sample1);
                sample2Counts.push(row.sample2);
            });

            var barData = [
                {
                    x: pathwayNames,
                    y: sample1Counts,
                    name: sample1Name,
                    type: 'bar'
                },
                {
                    x: pathwayNames,
                    y: sample2Counts,
                    name: sample2Name,
                    type: 'bar'
                }
            ];

            var barLayout = {
                barmode: 'group',
                title: 'Common Pathways Counts'
            };

            Plotly.newPlot('common-pathways-barplot', barData, barLayout);
        });
    }

    // Fonction pour récupérer les données de la PCA et les afficher
    function fetchPCAData(sample, container, sampleName) {
        var formData = new FormData();
        formData.append('sample', sample);

        fetch("{{ url_for('get_pca_data') }}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                errorDiv.innerHTML = data.error;
                return;
            }

            var colors = data.clusters.map(cluster => {
                return cluster === 0 ? '#1f77b4' : cluster === 1 ? '#ff7f0e' : '#2ca02c';
            });

            var trace = {
                x: data.x,
                y: data.y,
                mode: 'markers',
                type: 'scatter',
                text: data.bins,
                marker: { size: 12, color: colors }
            };

            var layout = {
                title: `PCA of Bins for ${sampleName} (Clustered)`,
                xaxis: { title: 'PCA 1' },
                yaxis: { title: 'PCA 2' }
            };

            Plotly.newPlot(container, [trace], layout);
        });
    }

    // Fonction pour mettre à jour les heatmaps
    function updateHeatmaps() {
        heatmapsContainer1.innerHTML = '';
        heatmapsContainer2.innerHTML = '';
        errorDiv.innerHTML = '';  // Efface les erreurs précédentes

        var selectedGroups = Array.from(document.querySelectorAll('.form-check-input:checked')).map(checkbox => checkbox.value);

        if (selectedGroups.length === 0) {
            errorDiv.innerHTML = 'Please select at least one pathway group.';
            return;
        }

        if (sample1Select.value) {
            fetchHeatmapData(sample1Select.value, heatmapsContainer1, 1, selectedGroups);
        }
        if (sample2Select.value) {
            fetchHeatmapData(sample2Select.value, heatmapsContainer2, 2, selectedGroups);
        }
    }

    // Fonction pour mettre à jour les scatter plots
    function updateScatterplots() {
        scatterplotContainer1.innerHTML = '';
        scatterplotContainer2.innerHTML = '';
        errorDiv.innerHTML = '';  // Efface les erreurs précédentes

        if (sample1Select.value) {
            fetchScatterplotData(sample1Select.value, scatterplotContainer1);
        }
        if (sample2Select.value) {
            fetchScatterplotData(sample2Select.value, scatterplotContainer2);
        }
    }

    // Fonction pour mettre à jour les pathways communs
    function updateCommonPathways() {
        var sample1Name = sample1Select.selectedOptions[0].text;
        var sample2Name = sample2Select.selectedOptions[0].text;

        document.getElementById('sample1Header').textContent = sample1Name;
        document.getElementById('sample2Header').textContent = sample2Name;

        fetchCommonPathwaysData(sample1Select.value, sample2Select.value, sample1Name, sample2Name);
    }

    // Fonction pour mettre à jour la PCA
    function updatePCA() {
        pcaContainer1.innerHTML = '';
        pcaContainer2.innerHTML = '';
        errorDiv.innerHTML = '';  // Efface les erreurs précédentes

        if (sample1Select.value) {
            fetchPCAData(sample1Select.value, pcaContainer1, sample1Select.selectedOptions[0].text);
        }
        if (sample2Select.value) {
            fetchPCAData(sample2Select.value, pcaContainer2, sample2Select.selectedOptions[0].text);
        }
    }

    // Mettez à jour les visualisations lorsqu'un échantillon est sélectionné
    sample1Select.addEventListener('change', function() {
        updateHeatmaps();
        updateScatterplots();
        updateCommonPathways();
        updatePCA();
    });
    sample2Select.addEventListener('change', function() {
        updateHeatmaps();
        updateScatterplots();
        updateCommonPathways();
        updatePCA();
    });

    // Mettez à jour les heatmaps lorsque le bouton "Apply Filter" est cliqué
    applyFilterBtn.addEventListener('click', updateHeatmaps);

    // Change le texte du bouton de collapse en fonction de l'état
    pathwayOptionsDiv.addEventListener('shown.bs.collapse', function () {
        toggleOptionsBtn.innerHTML = 'Hide all options';
    });
    pathwayOptionsDiv.addEventListener('hidden.bs.collapse', function () {
        toggleOptionsBtn.innerHTML = 'Show all options';
    });

    // Initialisez les visualisations au chargement de la page
    updateScatterplots();
    updateCommonPathways();
    updatePCA();
});

</script>
{% endblock %}